@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer"');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.logo{
    font-family:'Playfair Display';
    font-size: 33px;
    font-style: italic;
    font-weight: 700;
}

ul li{
    list-style: none;
}

.container{
    background: rgb(0,0,0,0.6) url(https://pbs.twimg.com/media/FgkUNTzXoAMWq60.png);
    background-attachment: fixed;
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    flex-direction: column;
    position: relative;

    .container-navbar{
        align-items: center;
        border-bottom: #ffffff13 1px solid;
        display: flex;
        justify-content: space-between;
        height: 67px;
        position: relative;
        width: 100%;

        .container-navbar-logo{
            color: white;
            padding-left: 30px;
            width: 100px;
        }

        .container-navbar-sosmed{
            
            

            ul{
                display: flex;

                li{
                    margin: 0 20px;

                    a{
                        color: white;
                        font-size: 21px;
                    }
                }
            }
        }

        .container-navbar-dropdown-button{
            background-color: transparent;
            border-style: none;
            color: white;
            cursor: pointer;
            font-size: 25px;
            
            width: 118.31px;
        }

        .container-navbar-dropdown-button:hover{
            color: rgb(224, 222, 222);
            transition: all 0.3 ease;
        }

        .container-navbar-dropdown-option{
            display: none;
            position: absolute;
            top: 100%;
            left: 0%;
            width: 100%;
            background-color: #f7f7f7;
            z-index: 1;
            display: flex;
            flex-direction: column;
            padding-bottom: 12px;

            a{
                margin: 0px 30px;
                padding: 17px 10px;
                color: #3b3b3b;
                font-size: 12px;
                font-family: 'Montserrat';
                letter-spacing: 1px;
                font-weight: 500;
                border-top: 1px solid rgba(0, 0, 0, 0.089);
            }

            a:hover{
                color: #3b3b3b8f;
            }
        }
    }

    .container-text{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - 67px);
        position: relative;
        width: 100%;

        .container-text-main{
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            
            h1{
                color: white;
                font-family: 'Montserrat';
                font-size: 70px;
                margin-bottom: 30px;
                
                span{
                    font-family: 'Playfair Display', serif;
                    font-style: italic;
                }
            }

            p{
                color: white;
                font-family: 'Montserrat';
                font-size: 19px;
                margin-bottom: 40px;
            }
        }

        .container-text-sosmed{
            
            

            ul{
                display: flex;

                li{
                    margin: 0 20px;

                    a{
                        color: white;
                        font-size: 21px;
                    }
                }
            }
        }

        .container-text-icon{
            color: white;
            font-size: 30px;
            justify-content: flex-end;
            margin-bottom: 50px;
        }
    }
}

.content{
    
    .content-aboutme1{
        height: 150vh;
        display: flex;
        flex-direction: column;
        

        .content-aboutme1-text{
            flex: 1;
            margin: 60px;
            
            
            h1{
                color: #3b3b3b;
                font-family: 'Montserrat';
                font-size: 37px;
                margin-bottom: 30px;
            }

            p{
                color: #4b4b4b;
                font-family: 'Lora', serif;
                font-size: 15px;
                line-height: 1.5;
                margin-bottom: 30px;
            }
        }
        .content-aboutme1-photo{
            background: url(https://images6.alphacoders.com/130/1303873.png);
            background-color: black;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            flex: 1;

        }
    }

    .content-aboutme2{
        height: 150vh;
        display: flex;
        flex-direction: column;
        

        .content-aboutme2-text{
            flex: 1;
            margin: 60px;
            
            
            h1{
                color: #3b3b3b;
                font-family: 'Montserrat';
                font-size: 37px;
                margin-bottom: 30px;
            }

            p{
                color: #4b4b4b;
                font-family: 'Lora', serif;
                font-size: 15px;
                line-height: 1.5;
                margin-bottom: 30px;
            }
        }
        .content-aboutme2-photo{
            background: url(https://i.pinimg.com/564x/70/ef/74/70ef74a88378daa8fd86e5876c885d3f.jpg);
            background-color: black;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            flex: 1;

        }
    }
}

.services{
    background-color: #f7f7f7;
    height: 100vh;

    .services-service{
        margin: 30px;
        
        .icon{
            padding-top: 50px;
            /* margin-bottom: 10px; */
        }

        h1{
            color: #3b3b3b;
            font-family: 'Montserrat';
            font-size: 37px;
            margin-bottom: 20px;
        }

        p{
            color: #4b4b4b;
            font-family: 'Lora', serif;
            font-size: 15px;
            line-height: 1.5;
        }
    }
}

.sponsor{
    height: 150vh;
    display: flex;
    flex-direction: column;

    .sponsor-sponsors{
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
    }

    .sponsor-form{
        display: flex;
        flex: 1;
        flex-direction: column;

        input, textarea{
            border: none;
            border-bottom: 1px solid #dadada;
            font-family: 'Lora', serif;
            font-size: 18px;
            margin: 15px 30px;
            padding-bottom: 15px;
            transition: border-color 0.3s;

        }

        input:focus, textarea:focus{
            outline: none;
            border-bottom: 1px solid #a8a8a8;
        }
        
        .sponsor-form-contactme{
            display: flex;
            justify-content: end;
            margin: 10px 20px;

            button{
                background-color: rgb(41, 41, 41);
                border: none;
                border-radius: 100px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow */
                color: white;
                cursor: pointer;
                font-family: 'Montserrat';
                font-size: 20px;
                font-weight: bold;
                height: 50px;
                letter-spacing: 5px;
                
                width: 180px;
            }
        }
    }
}

.footer{
    background-color: #f7f7f7;
    height: 80vh;
    display: flex;
    flex-direction: column;

    .footer-section{
        display: flex;
        flex-direction: column;
        margin: 30px;

        .logo{
            color: black;
            margin-bottom: 10px;
        }

        .subscribe{
            margin-bottom: 20px;
        }

        input{
            border: none;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            font-size: 20px;
            height: 20px;
            padding: 30px;
            width: 220px;
        }

        input:focus{
            outline: none;
            border: 1px solid black;
            border-right: none;
        }

        button {
            padding: 12px 24px;                    /* Padding tombol */
            font-size: 16px;                       /* Ukuran teks */
            font-weight: bold;                     /* Teks tebal */
            color: white;                          /* Warna teks */
            background: #333;
            border: none;                          /* Hapus border */
            border-radius: 8px;                    /* Border melengkung */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow */
            cursor: pointer;                       /* Ubah kursor jadi tangan */
            transition: all 0.3s ease;             /* Transisi halus saat hover */
        }
        
        button:hover {
            background: #333; 
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);       /* Shadow lebih besar */
            transform: translateY(-3px);                     /* Efek naik */
        }
        
        button:active {
            background: linear-gradient(145deg, #222, #444); /* Warna lebih gelap saat diklik */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);       /* Shadow lebih kecil */
            transform: translateY(2px);                      /* Efek turun */
        }
        
        
    }

}

.footer-copyright{
    justify-content: end;
}